<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>

    <ion-title>Add Expense</ion-title>

    <ion-buttons slot="end">
      <ion-button color="medium" (click)="save()">
        <ion-icon slot="start" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content class="ion-padding">
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-input maxlength="40" placeholder="Enter the expense's name" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="pricetag" slot="start"></ion-icon>
    <ion-select interface="popover" placeholder="Choose a category" (load)="ionViewWillEnter()">
      <ion-card *ngIf="categoriesLoaded">
        <ion-select-option *ngFor="let category of categories" [value]="category.id">{{
          category.name
        }}</ion-select-option>
      </ion-card>
    </ion-select>
    <ion-button (click)="showCategoryModal()"><ion-icon name="add"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-icon name="cash" slot="start"></ion-icon>
    <ion-input maxlength="40" placeholder="Enter the amount in CHF" required></ion-input>
    CHF
  </ion-item>
  <ion-item>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-input maxlength="40" placeholder="Date" required></ion-input>
  </ion-item>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="delete()" color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
